version: '3.8'

# ========================================
# Services (containers)
# ========================================
services:
# MySQL
inicio-mysql-coursera:
  image: mysql:8.0
  container_name: inicio-mysql-coursera
  restart: unless-stopped
  environment:
    MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    MYSQL_DATABASE: ${MYSQL_DATABASE}
    MYSQL_USER: ${MYSQL_USER}
    MYSQL_PASSWORD: ${MYSQL_PASSWORD}
  ports:
    - "${MYSQL_PORT}:3306"
  volumes:
    # Persist data (Data is not lost upon restart)
    - mysql-coursera-data:/var/lib/mysql
    - ./MySQL:/scripts
  networks:
    - coursera-network
  healthcheck:
    test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-p${MYSQL_ROOT_PASSWORD}"]
    interval: 10s
    timeout: 5s
    retries: 5
    start_period: 30s

# PostgreSQL
inicio-postgres-coursera:
  image: postgres:15
  container_name: inicio-postgres-coursera
  restart: unless-stopped
  environment:
    POSTGRES_USER: ${POSTGRES_USER}
    POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    POSTGRES_DB: ${POSTGRES_DB}
  ports:
    - "${POSTGRES_PORT}:5432"
  volumes:
    - postgres-coursera-data:/var/lib/postgresql/data
    - ./PostgreSQL:/scripts
  networks:
    - coursera-network
  healthcheck:
    test: ["CMD-SHELL","pg_isready -U ${POSTGRES_USER}"]
    interval: 10s
    timeout: 5s
    retries: 5
    start_period: 30s

# MongoDB
inicio-mongo-coursea:
  image: mongo:7
  container_name: inicio-mongo-coursera
  restart: unless-stopped
  environment:
    MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
    MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    MONGO_INITDB_DATABASE: ${MONGO_INITDB_DATABASE}
  ports:
    - "${MONGO_PORT}:27017"
  volumes:
    - mongo-coursera-data:/data/db
    - ./MongoDB:/scripts
  networks:
    - coursera-network
  healthcheck:
    test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
    interval: 10s
    timeout: 5s
    retries: 5
    start_period: 30s

# Volumes for persisting data
volumes:
  mysql-coursea-data:
    name: ${MYSQL_VOLUME_NAME}
    driver: local
  postgres-coursera-data:
    name: ${POSTGRES_VOLUME_NAME}
    driver: local
  mongo-coursea-data:
    name: ${MONGO_VOLUME_NAME}
    driver: local

# Network for containers to communicate
networks:
  coursera-network:
    name: ${NETWORK_NAME}
    driver: bridge